@charset "utf-8";

/* 모든 태그에 적용될 공통 속성
 * -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 12px;
}


/* 모든 링크의 밑줄 제거
 * -------------------------------------- */

a {
    text-decoration: none;
}


/* 모든 목록정의 초기화. - 여백은 6,7라인에서 제거했으므로 생략
 * -------------------------------------- */

ul,
ol {
    list-style: none;
}


/* 전체박스 : 전체 레이아웃의 폭, 정렬을 제어하기 위한 박스
        ----------------------------------------- */

#container {
    width: 800px;
    margin: auto;
}


/* 상단 : 폭 = 부모값, 높이=고정
        ----------------------------------------- */

#header {
    width: auto;
    height: 100px;
    background-color: #eeeeee;
}

#header .title {
    font-size: 20px;
    padding: 25px 0 12px 10px;
}

#header ul {
    border: 1px solid #999;
}

#header li {
    width: 20%;
    display: inline-block;
    text-align: center;
}

#header li a {
    display: block;
    padding: 10px 15px;
    width: auto;
    border-left: 1px dotted #cccccc;
}

#header li:first-child a {
    border-left: 0;
}

#header li a:hover {
    background-color: #00FF00;
}


/* 내용 : 폭 = 부모값, 높이=가변
        ----------------------------------------- */

#content {
    width: auto;
    min-height: 300px;
}


/* 하단 : 폭 = 부모값, 높이=고정
        ----------------------------------------- */

#footer {
    width: auto;
    height: 80px;
    border-top: 1px solid #999;
    background-color: #eee;
}

#footer address {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 14px;
    padding-top: 20px;
}


/* 내용 > 본문영역
        ----------------------------------------- */

#body {
    width: 640px;
    float: left;
    min-height: 300px;
}


/* 내용 > 사이드 바
        ----------------------------------------- */

#sidebar {
    width: 160px;
    float: left;
    min-height: 300px;
}

#sidebar fieldset {
    border: 0;
    background-color: #93d6c3;
    padding: 15px 10px;
    width: 140px;
}

#sidebar fieldset legend {
    display: none;
}

#sidebar fieldset input {
    font-size: 12px;
    border: 1px solid #eee;
    padding: 5px;
    width: 128px;
}

#sidebar fieldset label {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: block;
    text-shadow: 0px 1px 1px #000;
    padding-bottom: 5px;
}

#sidebar fieldset div {
    margin-bottom: 10px;
}

#sidebar fieldset div:last-child {
    margin-bottom: 0;
    text-align: center;
}

#sidebar fieldset div:last-child button {
    width: 67px;
    border: 1px solid #d5d5d5;
    background-color: #eeeeee;
    padding: 5px;
}


/* float 속성 해제
        ------------------------------------------ */

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}


/* 갤러리 영역 박스
 * -------------------------------------- */

#gallery {
    width: 640px;
    margin: auto;
}


/* 한 줄에 4개씩, 가로 배치
 * -------------------------------------- */

#gallery li {
    width: 25%;
    float: left;
}


/* 링크의 영역 확장 (공식)
 * - 크기와 여백을 주기 위하여 block으로 설정 후, 가로 가득
 * -------------------------------------- */

#gallery li a {
    display: block;
    width: auto;
    padding: 10px;
}


/* 링크 안의 span을 block으로 처리
 * -------------------------------------- */

#gallery li a span {
    display: block;
    width: auto;
}


/* 이미지는 가득 채움
 * -------------------------------------- */

#gallery .thumb img {
    width: 100%;
}


/* 텍스트 영역 처리
 * -------------------------------------- */

#gallery .text {
    width: 95%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}


/* 게시물의 마우스 오버
 * -------------------------------------- */

#gallery li a:hover {
    background-color: #eee;
}
